In [2]:
import seaborn as sns
import pandas as pd

In [3]:
df=sns.load_dataset('iris')

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df['sepal_length'].mean()

5.843333333333334

In [6]:
df.sepal_length.mean()

5.843333333333334

In [7]:
df.sepal_length.median()

5.8

In [8]:
petal_w_75 =df.groupby('species')['petal_width'].quantile(0.75)

In [9]:
petal_width_percentile_75 = df.groupby('species')['petal_width'].quantile(0.75)

In [10]:
df['75%_petal_w']

KeyError: '75%_petal_w'

In [ ]:
petal_w_75

In [ ]:
df.shape

In [ ]:
df.drop('75%_petal_w',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df

In [ ]:
df

In [ ]:
df['seapal_area']=df['sepal_length']*df['sepal_width']

In [ ]:
df['seapal_area']

In [ ]:
df

In [ ]:
df['petal_length']>2*df['sepal_length'].std()

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df

In [ ]:
most_common=df.groupby(['sepal_length', 'sepal_width', 'petal_length','petal_width']).size().nlargest(3)

In [ ]:
most_common

In [ ]:
max_sepal_width=df.groupby('species')['sepal_width'].max()

In [ ]:
max_sepal_width

In [11]:
df[df['petal_width']]

KeyError: "None of [Float64Index([0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1,\n              ...\n              2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8],\n             dtype='float64', length=150)] are in the [columns]"

In [12]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [16]:
a=df['sepal_length']

In [17]:
a

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [18]:
type(a)

pandas.core.series.Series

In [19]:
b=df[['sepal_length','sepal_width']]

In [20]:
b

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [21]:
type(b)

pandas.core.frame.DataFrame

In [45]:
c=df[df['petal_width']>0][['petal_width','petal_length']]

In [46]:
c

     petal_width  petal_length
0            0.2           1.4
1            0.2           1.4
2            0.2           1.3
3            0.2           1.5
4            0.2           1.4
..           ...           ...
145          2.3           5.2
146          1.9           5.0
147          2.0           5.2
148          2.3           5.4
149          1.8           5.1

[150 rows x 2 columns]

In [47]:
type(c)

pandas.core.frame.DataFrame

In [52]:
corr_matrix=df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].corr()

In [53]:
corr_matrix

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000